/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}


/*
*  custom css
*/
/*
* global
*/
@import url(https://fonts.googleapis.com);
@import url(https://fonts.gstatic.com);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --black: black;
  --white: #ffffff;
  --offwhite: #F1F1EF;
  --headFont: "Bebas Neue", sans-serif;
}

.section{
  background-color: var(--offwhite);
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-top: 2em;
  padding-bottom: 3em;
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .section.projects{
    height: 60vh;
  }
}
@media only screen and (max-width: 600px) {
  .section.projects{
    height: 100vh;
  }
}


.section-header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  width: 96%;
}

.section-h1{
  margin-left: 1em;
  font-size: 40px;
  font-family: var(--headFont);
}
@media only screen and (max-width: 600px) {
  .section-h1{
    margin-left: 0.4em;
  }
}

.section-h3{
  position: absolute;
  
}

.button{
  height: 2.6em;
  width: 7em;
  background-color: #101010;
  border-radius: 24px;
  text-align: center;
  line-height: 2.4em;
  color: white;
  font-size: 16px;
  border-width: 1.5px;
  border-style: solid;
  border-color: transparent;
  transition: all 0.3s ease-in-out;
}
.button.mobile{
  display: none;
}
@media only screen and (max-width:  1024px) {
  .button.mobile{
    display: block;
    position: absolute;
    bottom: 0em;
    width: 100%;
    height: 4em;
    border-radius: 0px;
    line-height: 4em;
    font-size: 20px;
  }
}

.nav-social{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80px;
}
@media only screen and (max-width:  1024px) {
  .nav-social{
    display: none;
  }
}



/*
* Nav
*/

.navbar{
  width: auto;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.navbar-left{
  display: flex;
  align-items: center;
}

.nav-menu{
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-between;
}

.nav-item{
  color: var(--offwhite);
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 100;
}
@media only screen and (max-width:  1024px) {
  .nav-item{
    letter-spacing: 3px;
    width:80%;
    font-size: 30px;
    margin-left: 0;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    color: var(--white);
    text-transform: uppercase;
  }
}

.logo{
  font-family: var(--headFont);
  font-weight: 0;
  letter-spacing: 0px;
  font-size: 3em;
  font-style: normal;
}
@media only screen and (max-width: 600px) {
  .logo{
    font-size: 3em;
    content: "Drii";
  }
}

.nav-icon{
  height: 2em;
  width: auto;
}
/* 
* hamburger
*/
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 28px;
  height: 2px;
  margin: 7px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--white);
}

/*
* hamburger controls
*/

@media only screen and (max-width:  1024px) {
  .nav-menu {
    position: fixed;
    right: -100%; 
    top: 0;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.2);
    color: white;
    width: 80%;
    height: 100%;
    padding-top: 4.8em;
    text-align: left;
    align-items:center;
    transition: 0.3s;
    overflow-y:hidden;
    justify-content: start;
    backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
    z-index: 1;
  }
  
  .nav-menu.active {
    right: 0;
    
  }

  .nav-menu.active hr {
    width:90%;
  }

  .hamburger{
    z-index: 1;
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
      background-color: white;
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
      background-color: white;
  }
}

/*
* hero
*/
.hero-video{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.landing-container{
  background-color: var(--offwhite);
}

.hero-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:90vh;
  width: auto;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.hero-top{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: start; 
  justify-content: start;
  width: 50%;
}
@media only screen and (max-width: 600px) {
  .hero-top{
    width: 100%;
  }
}

.hero-bottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
}
@media only screen and (max-width: 600px) {
  .hero-bottom{
    margin-bottom: 1em;
  }
}

.hero-top h1{
  line-height: 0.9em;
  font-size: 90px;
  font-family: var(--headFont);
  color: var(--offwhite);
  margin-bottom: 20px;
  mix-blend-mode: difference;
}
@media only screen and (max-width: 600px) {
  .hero-top h1{
    font-size: 60px;
  }
}

.hero-top p{
  font-weight: 300;
  margin-bottom: 0.5em;
  font-size: 20px;
  color: var(--white);
}
@media only screen and (max-width: 600px) {
  .hero-top p{
    width: 70%;
  }
}

.hero-bottom h2{
  line-height: 1em;
  font-size: 20px;
  font-weight: 100;
  color: var(--white);
  
}
@media only screen and (max-width: 600px) {
  .hero-bottom h2{
    letter-spacing: 1px;
    font-size: 22px;
  }
}

.hero-bottom p{
  font-weight: 100;
  margin-top: 2em;
  font-size: 16px;
  color: var(--white);
}
@media only screen and (max-width: 600px) {
  .hero-bottom p{
    font-size: 18px;
  }
}

.hero-button{
  width: 10em;
  height: 3em;
  background-color: #101010;
  text-align: center;
  line-height: 2.4em;
  color: white;
  font-size: 24px;
  border-width: 1.5px;
  border-style: solid;
  border-color: transparent;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 600px) {
  .hero-button{
    font-size: 20px;
  }
}

.hero-button:hover{
  background-color: transparent;
  border-color: var(--black);
  color: var(--black);
}

/*
* works
*/

.work-container{
  height: auto;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  overflow-x: none;
}
@media only screen and (max-width: 600px) {
  .work-container{
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
  }
}
.work-container::-webkit-scrollbar {
  display: none;
}

.work{
  margin-left: 4px;
  position: relative;
  display: block;
  width: 100%;
}
@media only screen and (max-width:600px){
  .work{
    min-width: 45vh;
    height:  60vh;
  }
}
.work-img-container{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.4);
}
.work-img-container:hover{
  opacity: 1;
}
@media only screen and (max-width: 600px) {
  .work-img-container{
    opacity: 1;
  }
}

.work-img{
  display: block;
  height: auto;
  width: 100%;
  aspect-ratio: 1 / 1.2;
  object-fit: cover;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .work-img{
    aspect-ratio: 1 / 1.4;
  }
}

.section-h3{
  display: block;
  position: absolute;
  left: 0.5em;
  bottom: 1em;
  color: var(--offwhite);
  font-family: var(--headFont);
  font-size: 3em;
  transition: 0.4s ease-in-out;
  z-index: 2;
}
.work:hover .section-h3{
  bottom:3em;
}
@media only screen and (max-width: 600px) {
  .section-h3{
    bottom:3em;
  }
}

.section-p{
  height: 3em;
  z-index: 2;
  left:1.6em;
  display: block;
  position: absolute;
  bottom: 1em;
  opacity: 0;
  transition: 0.4s ease-in-out;
  color: var(--offwhite);
}
.work:hover .section-p{
  bottom:7em;
  opacity: 1;
}
@media only screen and (max-width: 600px) {
  .section-p{
    bottom: 7em;
    opacity: 1;
  }
}

/*
* services
*/

.service-container{
  margin-top: 1em;
  display:flex;
  flex-direction: row;
  width: 100%;
  overflow: none;
}
@media only screen and (max-width: 600px) {
  .service-container{
    flex-direction: column;
  }
}

.service-img{
  margin-top: -3px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.service-container .service:nth-child(1) .service-img {
  aspect-ratio: 1/1.1;
}
.service-container .service:nth-child(2) .service-img {
  aspect-ratio: 1/1.1;
}
@media only screen and (max-width: 600px) {
  .service-container .service:nth-child(1) .service-img {
    aspect-ratio: 1/0.8;
  }
  .service-container .service:nth-child(2) .service-img {
    aspect-ratio: 1/1.2;
  }
}

/*
* services
*/

.banner-container{
  height: 70vh;
  width:100%;
  position: relative;
  text-align: center;
}
@media only screen and (max-width: 600px){
  .banner-container{
    height: 50vh;
  }
}

.banner-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
* footer
*/

hr{
  background-color: #000;
}

.footer-container{
  width: 100%;
  padding : 2em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--offwhite);
  color: var(--black);
  padding-top: 4em;
}@media only screen and (max-width: 600px) {
  .footer-container{
    padding: 1.5em;
    
  }
}


.footer-section{
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 600px){
  .footer-section{
    flex-direction: column;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .footer-section.a{
    justify-content: space-between;
  }
}


.footer-box{
  width: 100%;
  margin-top: 1.5em;
}
@media only screen and (max-width: 600px){
  .footer-box{
    width: 100%;
  }
}

.footer-h1{
  font-family: var(--headFont);
  font-size:4em;
  width: 50%;
  line-height: 0.9;
  margin-bottom: 1em;
}
@media only screen and (max-width: 600px){
  .footer-h1{
    font-size: 2.5em;
    width: 100%;
    line-height: 0.9;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .footer-h1{
    font-size: 2.8em;
    width: 100%;
    line-height: 0.9;
    margin-bottom: 1em;
  }
}

.footer-links{
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  margin-top: 1.5em;
  justify-content: space-evenly;
}@media only screen and (max-width: 600px) {
  .footer-links{
    margin-top: 0;
  }
}

@media only screen and (max-width: 600px){
  .footer-links{
    flex-direction: column;
  }
}

.footer-links div h3{
  font-size: 1.25em;
  font-weight: 500;
  margin-bottom: 5px;
}

.footer-link p{
  font-size: 16px;
  margin-bottom: 4px;
  font-weight: 300;
}
.footer-link p:hover{
  font-weight: 400;
}

.footer-link .social-button{
  margin-right: 1em;
  height: 40px;
  width: 40px;
}


.footer-link{
  height: 4px;
  width: 4px;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 5px;

}
@media only screen and (max-width: 600px) {
  .footer-link{
    line-height: 1.8;

  }
}

.footer-txt{
  width: 75%;
  line-height: 1.2;
  font-weight: 100;
  font-style: italic;
  margin-top: 10px;
}
@media only screen and (max-width: 600px) {
  .footer-txt{
    width: 100%;
    font-size: 18px;
    margin-bottom: 1.5em;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .footer-txt{
    width: 100%;
    font-size: 12px;
    margin-bottom: 1.5em;
  }
}

.footer-email{
  font-family: var(--headFont);
  font-size: 6em;
  z-index: 5;
}
@media only screen and (max-width: 600px) {
  .footer-email{
    font-size: 8vw;
    margin-bottom: .5em;
    letter-spacing: 2.8px;;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .footer-email{
    width: 50%;
    font-size: 4.8vw;
  }
}


.footer-banner{
  font-family: var(--headFont);
  font-size: 17.5vw;
  line-height: 0.9;
  z-index: 5;
}
@media only screen and (max-width: 600px) {
  .footer-banner{
    font-size: 3em;
    letter-spacing: 5.5px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .footer-banner{
    font-size: 11vw;
  }
}

/*
* intro
*/

.intro{
  font-family:Arial, Helvetica, sans-serif;
}

/*
* slider
*/

.scroll{
  font-family: var(--headFont);
}

.banner-h1{
  font-family: var(--headFont);
  font-size: 2em;
  width: 80%;  
  letter-spacing: 3px;
}

/*
* Project
*/

.project-container{
  padding: 0em;
}

.project-header{
  width: 100%;
  height: 30vh;
  background-color: red;
  display: flex;
  align-items: end;
  justify-content: start;
}

.project-header h1{
  font-size: 4em;
  color: white;
  padding: 20px;
  letter-spacing: -2px;
}

/*
*Gallery
*/
.gallery-title{
  text-align: center;
  font-family: var(--headFont);
  font-size: 4em;
}

.gallery-container{
  padding: 1em;
}

.gallery-img{
  padding: 5px;
}

.gallery-images{
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px; 
}
@media (max-width: 800px) {
  .gallery-images {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .gallery-images {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

/*
* Contact
*/

.contact-wrapper{
  padding: 0em 15em 0em 15em;
  width: 100%;
  height: 100vh;
  background-color: var(--offwhite);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url(./components/assets/img1.jpg);
  background-position: center center;
  object-fit: cover;
}
@media only screen and (max-width: 600px) {
  .contact-wrapper{
    flex-direction: column;
    padding: 0;
    height: 80vh;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .contact-wrapper{
    height: 60vh;
    padding: 0em 5em 0em 3em;
  }
}

.contact-services{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2em 0em 2em 2em;
  padding: 2em 0em 2em 2em;
  width: 40%;
  background-color: rgb(0, 0, 0, 0.7);
  color: var(--white);
  border-radius: 60px 0px 0px 12px;
}
@media only screen and (max-width: 600px) {
  .contact-services{
    display: none;
  }
}

.contact-services-container{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 1em;
}


.contact-services h1{
  font-size: 2em;
  font-weight: 500;
}

.contact-services hr{
  width: 90%;
}

.contact-services div h2{
  font-size: 18px;
}

.contact-social{
  display: flex;
}

.contact-container{
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 0px 12px 60px 0px;
  height: 90.2%;
  margin: 2em 0em 2em 0em;
  width: 60%;
  color: var(--offwhite);
  backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}
@media only screen and (max-width: 600px) {
  .contact-container{
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

.form-wrapper{
  height: 90%;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media only screen and (max-width:600px){
  .form-wrapper{
    margin: 15px;
  }
}


.contact-container h1{
  font-size: 3em;
  font-weight: 500;
  line-height: 1em;
}

.contact-container h2{
  font-size: 16px;
  width: 100%;
  text-align: left;
  margin-top: -15px;
}

.form-top{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 600px){
  .form-top{
    flex-direction: column;
  }
}

.contact-input{
  background-color:transparent;
  width: 100%;
  outline: none;
  position: relative;
  border: none;
  border-bottom: 1px solid transparent;
  margin: 4px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--offwhite);
}
@media only screen and (max-width:600px){
  .contact-input{
    margin-bottom: 18px;
  }
}

.contact-textarea{
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  min-height: 100px;
  border-bottom: 1px solid var(--offwhite);
}

.contact-button{
  background-color: transparent;
  border: 1px solid var(--offwhite);
  color: white;
  padding: 10px 20px;
  border-radius: 0px;
  width: 10em;
  cursor: pointer;
  position: relative;
  z-index: 5;
}
.contact-button:hover{
  color: black;
}
.contact-button::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--offwhite);
  opacity: 1;
  transition: 0.2s ease-in-out;
  height: 45px;
  width: 0%;
  z-index: -1;
}
.contact-button:hover::after{
  width: 100%;
}

.contact-icon{
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(3212%) hue-rotate(265deg) brightness(113%) contrast(89%);
  height: 2em;
  width: 2em;
  margin-right: 1em;
}